<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/images/apple.png">
</head>
<body>
<h3>home page</h3>

<img src="/images/apple.png">

<shiro:guest>
    <button name="user">guest</button>
</shiro:guest>
<shiro:user>
    <button name="user">user</button>
</shiro:user>
<shiro:hasRole name="admin">
    admin role
</shiro:hasRole>


</body>
</html>