<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/images/apple.png">
</head>
<body>
<h3>login page</h3>
<img src="/images/apple.png"/>

<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<span th:text="${message}">default message</span>

<label value="label"/>
<form action="subLogin">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit" value="submit ..."/>
</form>

<shiro:authenticated>
    authenticated
</shiro:authenticated>

<shiro:guest>
    guest
</shiro:guest>

</body>
</html>